<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta th:replace="layout/admin::viewport"/>
    <th:block th:include="layout/main::head"/>
    <title>Blogs</title>
</head>
<body>
<th:block th:include="layout/main::main-menu"/>


<div class="blog-area">
    <th:block th:if="${#lists.isEmpty(blogs)==false}">
        <div class="blog">
            <article th:each="blogVO:${blogs}" th:with="blog=${blogVO.blog}">
                <div class="blog-entry">
                    <th:block th:replace="/blog/fragment/header::header(${blog}, ${blogVO.comments})"/>

                    <div class="blog-content">
                        <div th:utext="${blog.briefIntroduction}"></div>

                        <div th:replace="/blog/fragment/tags::tags(${blog.tags})">

                        </div>
                        <a th:href="@{/blog/{friendlyUrl}(friendlyUrl=${blog.friendlyUrl})}" class="more">
                            Continue reading
                        </a>
                    </div>
                </div>
            </article>
            <ul th:inline="text" class="pagination" th:if="${totalPages}>1">
                <li>
                    <a th:if="${currentPage}==1" class="fa fa-angle-double-left disabled"></a>
                    <a th:href="@{/blogs.html(page=${currentPage-1})}" th:if="${currentPage}>1"
                       class="fa fa-angle-double-left"></a>
                </li>
                <li th:each="page:${#numbers.sequence(1,totalPages)}" class="fa"
                    th:classappend="${page}==${currentPage}?'active':''">
                    <a th:href="@{/blogs.html(page=${page})}">[[${page}]]</a>
                </li>
                <li>
                    <a th:if="${currentPage}==${totalPages}" class="fa fa-angle-double-right disabled"></a>
                    <a th:href="@{/blogs.html(page=${currentPage+1})}" th:if="${currentPage}!=${totalPages}"
                       class="fa fa-angle-double-right"></a>
                </li>
            </ul>
        </div>
        <div class="right-panel right">
            <th:block th:replace="layout/main::search-box">

            </th:block>
        </div>
    </th:block>

    <th:block th:if="${#lists.isEmpty(blogs)}">

        <th:block th:replace="layout/main::empty-search-result">

        </th:block>

    </th:block>

</div>
<th:block th:replace="layout/main::footer"/>
</body>
</html>