<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta th:replace="layout/admin::viewport"/>
    <th:block th:include="layout/main::head"/>
    <title>Blogs</title>
</head>
<body>
<th:block th:include="layout/main::main-menu"/>


<div class="blog-area">
    <div class="blog">
        <article th:each="blog:${blogs}">
            <div class="blog-entry">
                <th:block th:replace="/blog/fragment/header::header(${blog},0)"/>

                <div class="blog-content">
                    <div th:utext="${blog.briefIntroduction}"></div>

                    <div th:replace="/blog/fragment/tags::tags(${blog.tags})">

                    </div>
                    <a th:href="@{/blog/{friendlyUrl}(friendlyUrl=${blog.friendlyUrl})}" class="more">
                        Continue reading
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="right-panel right">
        <th:block th:replace="layout/main::search-box">

        </th:block>
    </div>
</div>
<th:block th:replace="layout/main::footer"/>
</body>
</html>