<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta th:replace="layout/layout::viewport"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styleSheet.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>
    <title>Blogs</title>
</head>
<body>
<div th:replace="layout/layout::header"></div>

<div class="container">
    <div class="categories">
        <ul class="menu">
            <li><a href="/blogs.html"> All post</a></li>
            <li th:each="category:${categories}">
                <a th:href="@{/blogs(categoryId=${category.id})}" th:text="${category.name}"></a>
            </li>
        </ul>
        <div class="search">
            <input type="text" name="search" class="search-box" placeholder="Search"/>
        </div>
    </div>

    <div class="clearfix grid">
        <ul>
            <li class="shadow-effect">
                <div class="top">
                    <img class="user-icon" th:src="@{/images/user-icon.png}"/>

                    <div class="detail">
                        <span class="user-name">Admin</span>
                        <span>Oct 22, 2017</span>
                        <span class="time-ago">1 min</span>
                    </div>
                    <div class="right">

                    </div>
                </div>
                <h1>Uncovering the online marketing type</h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </p>

                <div class="footer">
                    <span>775 views</span>

                    <span class="right">
                        <a href="">Open</a>
                    </span>
                </div>
            </li>
            <li class="shadow-effect">
                <div class="top">
                    <img class="user-icon" th:src="@{/images/user-icon.png}"/>

                    <div class="detail">
                        <span class="user-name">Admin</span>
                        <span class="date-created">Oct 22, 2017</span>
                        <span class="time-ago">1 min</span>
                    </div>
                    <div class="social">

                    </div>
                </div>
                <h1>Uncovering the online marketing type</h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </p>

                <div class="footer">
                    <span class="views">775 views</span>
                    <span class="right">
                        <a href="">Open</a>
                    </span>
                </div>
            </li>
            <li class="shadow-effect">
                <div class="top">
                    <img class="user-icon" th:src="@{/images/user-icon.png}"/>

                    <div class="detail">
                        <span class="user-name">Admin</span>
                        <span class="date-created">Oct 22, 2017</span>
                        <span class="date-created">1 min</span>
                    </div>
                    <div class="share">

                    </div>
                </div>
                <h1>Uncovering the online marketing type</h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </p>

                <div class="footer">
                    <span class="views">775 views</span>
                    <span class="favourite"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>