<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <title th:text="${blog.shortHeading}+ ' - '+ ${blog.title}"></title>
    <th:block th:replace="layout/main::head"/>

</head>
<body>

<th:block th:include="layout/main::main-menu"/>

<div class="blog-area">
    <div class="blog">
        <article>

            <div class="blog-entry">
                <th:block th:replace="/blog/fragment/header::header(${blog})"/>

                <div class="blog-content" th:utext="${blog.content}">

                </div>

                <div th:replace="/blog/fragment/tags::tags(${blog.tags})">

                </div>
            </div>
        </article>
        <div class="social">
            <div class="social-wrapper">
               <span class="share">
                    <a href="" class="facebook"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
               </span>
                <a href="" class="comment"><i class="fa fa-comment"></i>&nbsp;Comment</a>
            </div>
        </div>
        <div class="related-blog">
            <h2>Related Blogs</h2>

            <div class="related-blog-wrapper">
                <ul>
                    <li>
                        <h1 class="head">
                            String vs StringBuffer
                        </h1>

                        <div class="content">
                            <h3>Difference between String vs StringBuffer</h3>

                            <p>
                                No ratings.
                                Version: 1.0.1Melos Business is the free version of the multi-purpose professional theme
                                (Melos Pro) ideal for a business or blog website. The theme has a responsive layout, HD
                                retina ready and comes with a powerful theme options panel with can be used
                            </p>

                        </div>
                        <div class="bottom">
                            <span><i class="fa fa-calendar"></i>&nbsp;JAN 22, 2017</span>
                            <a href="">Read more</a>
                        </div>
                    </li>
                    <li>
                        <h1 class="head">
                            String vs StringBuffer
                        </h1>

                        <div class="content">
                            <h3>Difference between String vs StringBuffer</h3>

                            <p>
                                No ratings.
                                Version: 1.0.1Melos Business is the free version of the multi-purpose professional theme

                            </p>

                        </div>
                        <div class="bottom">
                            <span><i class="fa fa-calendar"></i>&nbsp;JAN 22, 2017</span>
                            <a href="">Read more</a>
                        </div>
                    </li>
                </ul>
                <div class="more-blog">
                    <a href="">View more</a>
                </div>
            </div>
        </div>
        <div class="comment-area">
            <h2>Post Comment</h2>

            <div class="comment-wrapper">
                <ul class="comments">
                    <li class="comment-row">
                        <img src="/images/user-icon.png"/>

                        <div class="display-comment">
                            <span class="user-name">mohd.amir</span>

                            <span class="date"><i class="fa fa-calendar">&nbsp;</i>JAN 20, 2017</span>

                            <p class="text">
                                No ratings. Version: 1.0.1Melos Business is the free version of the multi-purpose
                                professional theme (Melos Pro)
                            </p>

                            <div class="btn-group">
                                <a href=""><i class="fa fa-reply"></i>&nbsp;Reply</a>
                                <a href=""><i class="fa fa-trash"></i>&nbsp;Delete</a>

                                <div class="reply-box">
                                    <p>Leave a reply</p>
                                    <input type="text" placeholder="Email" class="email"/>
                                    <input type="text" placeholder="Full name" class="full-name"/>
                                    <textarea placeholder="Enter comment"></textarea>
                                    <input type="text" placeholder="Webiste URL" class="web-site-url"/>

                                    <input type="button" class="btn" value="As guest reply"/>
                                </div>
                            </div>


                        </div>
                        <ul class="reply">
                            <li class="reply-row">
                                <img src="/images/user-icon.png"/>

                                <div class="display-comment">
                                    <span class="user-name">mohd.amir</span>
                                    <span class="date"><i class="fa fa-calendar">&nbsp;</i>JAN 20, 2017</span>

                                    <p class="text">
                                        No ratings. Version: 1.0.1Melos Business is the free version of the

                                    </p>

                                    <div class="btn-group">
                                        <a href=""><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                    </div>
                                </div>
                            </li>
                            <li class="reply-row">
                                <img src="/images/user-icon.png"/>

                                <div class="display-comment">
                                    <span class="user-name">mohd.amir</span>
                                    <span class="date"><i class="fa fa-calendar">&nbsp;</i>JAN 20, 2017</span>

                                    <p class="text">
                                        No ratings. Version: 1.0.1Melos Business is the free version of the. No ratings.
                                        Version: 1.0.1Melos Business is the free version of the
                                        No ratings. Version: 1.0.1Melos Business is the free version of the
                                        No ratings. Version: 1.0.1Melos Business is the free version of the


                                    </p>

                                    <div class="btn-group">
                                        <a href=""><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="comment-row">
                        <img src="/images/user-icon.png"/>

                        <div class="display-comment">
                            <span class="user-name">mohd.amir</span>

                            <span class="date"><i class="fa fa-calendar">&nbsp;</i>JAN 20, 2017</span>

                            <p class="text">
                                No ratings. Version: 1.0.1Melos Business is the free version of the multi-purpose
                                professional theme (Melos Pro)
                            </p>

                            <div class="btn-group">
                                <a href=""><i class="fa fa-reply"></i>&nbsp;Reply</a>
                                <a href=""><i class="fa fa-trash"></i>&nbsp;Delete</a>

                                <div class="reply-box">
                                    <input type="text" placeholder="Write a comment"/>
                                </div>
                            </div>


                        </div>
                        <ul class="reply">
                            <li class="reply-row">
                                <img src="/images/user-icon.png"/>

                                <div class="display-comment">
                                    <span class="user-name">mohd.amir</span>
                                    <span class="date"><i class="fa fa-calendar">&nbsp;</i>JAN 20, 2017</span>

                                    <p class="text">
                                        No ratings. Version: 1.0.1Melos Business is the free version of the

                                    </p>

                                    <div class="btn-group">
                                        <a href=""><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                    </div>
                                </div>
                            </li>
                            <li class="reply-row">
                                <img src="/images/user-icon.png"/>

                                <div class="display-comment">
                                    <span class="user-name">mohd.amir</span>
                                    <span class="date"><i class="fa fa-calendar">&nbsp;</i>JAN 20, 2017</span>

                                    <p class="text">
                                        No ratings. Version: 1.0.1Melos Business is the free version of the. No ratings.
                                        Version: 1.0.1Melos Business is the free version of the
                                        No ratings. Version: 1.0.1Melos Business is the free version of the
                                        No ratings. Version: 1.0.1Melos Business is the free version of the


                                    </p>

                                    <div class="btn-group">
                                        <a href=""><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <div class="right-panel right">

        <ul class="sub-categories">
            <li class="sub-category">
                <h1>Exception Handling</h1>
                <ul class="sub-category-blog">
                    <li>
                        <a href=""> <i class="fa fa-hand-o-right">&nbsp;</i>Try block</a>
                    </li>
                    <li>
                        <a href=""> <i class="fa fa-hand-o-right">&nbsp;</i>Try block</a>
                    </li>
                    <li>
                        <a href=""> <i class="fa fa-hand-o-right">&nbsp;</i>Try block</a>
                    </li>
                </ul>
            </li>
            <li class="sub-category">
                <h1>Exception Handling</h1>
                <ul class="sub-category-blog">
                    <li>
                        <a href=""> <i class="fa fa-hand-o-right">&nbsp;</i>Try block</a>
                    </li>
                    <li>
                        <a href=""> <i class="fa fa-hand-o-right">&nbsp;</i>Try block</a>
                    </li>
                    <li>
                        <a href=""> <i class="fa fa-hand-o-right">&nbsp;</i>Try block</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="related-categories">
            <div class="title">
                <span>Related categories</span>
            </div>
            <ul class="tags">
                <li class="tag-info" th:each="relatedCategory:${blog.sortedCategories}">
                    <a th:href="@{/blogs(categoryId=${relatedCategory.id})}"
                       th:text="${relatedCategory.name}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block th:replace="layout/main::footer">

</th:block>
</body>
</html>