ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.disabled {
    opacity: .6;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}

span {
    display: inline-block;
}

.container .category-heading {
    font-weight: bold;
    color: darkgray;
}

.category-tree {
}

.category-tree .tree {

}

.category-tree .parent-node {

}

.category-tree .parent-node .parent-text {
}

.category-tree .parent-node .parent-text, .category-tree .parent-node .child-text {
    border: 1px solid #ccc;
    margin: 1px 0;
    min-width: 25em;
}

.category-tree .parent-node .child {
    /*margin-left: 20px;*/
}

.category-tree .parent-node .child .child-node {

}

.category-tree .parent-node .actions {
    float: right;
    font-size: 0;
    margin-right: -2px;
}

.category-tree .parent-node .actions i.fa:first-child {
    margin-left: 2em;
    border-left: 0;
}

.category-tree .parent-node .actions i.fa {
    margin-top: 0;
    border-left: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
    vertical-align: middle;
}

.tree {
    margin-top: 25px;
    clear: both;
    display: block;
}

.tree .node {
    margin-top: 5px;
}

.tree a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.tree .node .text {
    min-width: 25em;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 7px 0 7px 10px;
    border-left: 4px solid darkcyan;
}

.tree .node .fa-flash {
    width: 23px;
    margin-left: 5px;
}

.tree .node .actions {
    float: right;
    font-size: 0;
}

.tree .node .toggle-icon {
    font-size: 20px;
    vertical-align: sub;
    margin-right: 6px;
}

.tree .node .actions i.fa:first-child {
    margin-left: 2em;
    border-left: 0;
}

.tree .node .actions i.fa {
    border-left: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 4px;
}

.tree .node .child {
    margin-left: 40px;
}

.tree .node .text a {
    text-transform: capitalize;
}

.tree .node .text .category-box {
    font-size: 13px;
    padding: 2px 3px;
    border: 0;
    width: 76%;
}

.tree .node .text .category-box:focus {
    outline: none;
}

.category-search-wrapper .search {
    width: 30em;

}

.tree #add-new-category {
    margin: 2em 0 1em 0;
}

.tree .new-category-form {
    margin-top: 2.5em;
    width: 30em;
}

.blog-editor .tree .actions {
    margin-right: 3px;
}

.blog-editor .category-search-wrapper .search {
    width: 100%
}

.blog-editor .tree .node .text {
    min-width: 100%;
}