* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    color: #111;
    background: #fafafa;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style-type: none;
    padding: 0;
}

span {
    display: inline-block;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: "Playfair Display", Georgia, serif;
}

.clearfix {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    padding: 82px 150px 0 150px;
    background: rgba(128, 128, 128, 0.04);
    width: 100%;
    min-height: 100%;
    height: 100%;

}

.header {
    height: 60px;
    background: #7aafce;
    position: fixed;
    width: 100%;
}

.header .menu {
    display: inline-block;
    padding: 0;
    line-height: 28px;
    color: white;
    padding-left: 150px
}

.header .menu li {
    display: inline-block;
    color: white;
    min-width: 110px;
    font-size: 18px;
}

.header .menu li a {
    display: block;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.header .menu li a:hover {
    color: rgba(253, 253, 253, 0.84);
}

.header .signup {
    display: inline-block;
    width: 150px;
    float: right;
    height: 60px;
    padding-top: 13px;
}

.header .signup a {
    border: 1px solid lightgray;
    padding: 5px 27px;
    background: #f7f7f7;
    border-radius: 5px;
    outline: 0;
    color: #3c87b3;
    font-size: 14px;
}

.categories {
    margin-bottom: 45px;
}

.container .categories .menu {
    float: left;
    display: inline-block;
    margin: 0;
}

.container .categories .menu li {
    display: inline-block;
    margin-right: 40px;
    font-weight: 500;
    color: rgb(58, 55, 55);
    font-size: 16px;
}

.container .categories .menu li a {
    color: rgb(58, 55, 55);
    text-transform: uppercase;
}

.container .categories .menu li a:hover {
    color: rgb(158, 148, 148);
}

.container .categories .search {
    float: right;
    margin-top: -5px;
}

.container .categories .search .search-box {
    padding: 5px 1px;
    width: 224px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.48);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: url(/images/search-icon.png) no-repeat scroll;
    background-position: right;
    background-size: 15px;
}

.container .categories .search .search-box:focus {
    outline: none;
}

.grid ul {
    margin: 0;

}

.grid ul li {
    display: inline-block;
    width: 455px;
    padding: 22px 15px 0 10px;
    margin: 0 5px 11px 3px;
    height: 232px;
    border-bottom: 3px solid lightgray;
    background: white;
}

.grid ul li .top span {
    display: inline-block;
}

.grid ul li .top .detail {
    color: gray;
    font-size: 12px;
    margin-left: 15px;
    display: inline-block;
}

.grid ul li .top .user-icon {
    width: 32px;
    vertical-align: bottom;
}

.grid ul li .top .detail .time-ago {
    margin-left: 15px;
}

.grid ul li .top .detail .user-name {
    display: block;
    margin-bottom: 4px;
}

.grid ul li h1 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    height: 22px;
    overflow: hidden;
}

.grid ul li p {
    color: #595958;
    padding-bottom: 22px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    text-align: justify;
    margin: 0 0 10px 0;
    line-height: 23px;
    height: 75px;
    overflow: hidden;
    font-size: 13px;
}

.grid ul li .footer span, .grid ul li .footer a {
    font-size: 13px;
}

.grid ul li .footer span {
    color: gray;
}

a {
    color: #444;
}

a:hover, a:focus, a:active {
    color: #0980d7;
    text-decoration: none;
}

.shadow-effect {
    position: relative;
}

.shadow-effect:before, .shadow-effect:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 39px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.shadow-effect:after {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}

.blog-form {
    padding: 5px 0;
    background: white;
    border-radius: 15px;
    width: 90%;
    margin: auto;
}

.blog-form .row {
    padding: 27px 20px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.45);
}

label {
    display: inline-block;
    font-weight: 600;
    padding: 9px 0;
}

.blog-form .row label {
    width: 15%;
}

.textbox, select {
    border: 1px solid lightgray;
    padding: 6px 2px;
    background: white;
}

.blog-form .row .textbox, .blog-form .row select {
    width: 70%;
}

.textbox:focus, select:focus {
    outline: none;
}

.btn {
    border: none;
    padding: 10px 20px;
    background: #4d7e9a;
    color: white;
    font-size: 15px;
}

.btn:hover {
    background: #426c84;
}

.categories .list {
    margin-top: 15px;
}

.categories .list .row.heading {
    font-weight: 700;
}

.categories .list .row {
    padding: 18px 15px;
    border-bottom: 1px solid lightgray;
}

.categories .list .row:nth-child(odd) {
    background: #dae8f1;
}

.categories .list .row:nth-child(even) {
    background: #f5f5f5;
}

.categories .list .row span, .categories .list .row a {
    min-width: 15%;
}

.categories .list .row .name {
    width: 50%;
    overflow: hidden;
}

.container .blog-detail {
}

.container .blog-detail .title {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.66);
    overflow: hidden;
}

.container .blog-detail .publish-detail {
    color: #444;
    font-size: 16px;
    font-weight: 100;
    margin-top: 48px;
}

.container .blog-detail .user-detail {
    margin-top: 58px;
    padding-left: 10px;
    border-left: 1px solid #66a7ce;
    color: rgba(0, 0, 0, 0.66);
}

.blog-detail .blog-content {
    margin-top: 80px;
    color: rgba(0, 0, 0, 0.81);
    font-size: 100%;
}

.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4 {
    color: #444;
    margin: 40px 0 15px 0;
    line-height: 125%;
}

.blog-content h1 {
    font-size: 32px;
}

.blog-content h2 {
    font-size: 25px;
}

.blog-content h3 {
    font-size: 22px;
}

.blog-content h4 {
    font-size: 20px;
}

.blog-content p {
    font-size: 17px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

.blog-content img {
    max-width: 100% !important;
    max-height: 600px;
}

.brand .brand-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: center;
}

.brand-wrapper title {
    display: block;
    font-size: 2.25em;
    line-height: 110%;
    margin: 0;
    padding-top: 35px;
    font-weight: 700;
    text-align: center;
    text-rendering: optimizeLegibility;
}

.brand-wrapper .description {
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 35px;
    font-size: 1.1em;
    line-height: 120%;
    text-align: center;
    font-style: italic;

}

.main-navigation {
    text-align: center;
    font-size: .9em;
    border-top: 1px solid #ddd;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
}

.main-navigation li {
    display: inline-block;
    position: relative;
}

.main-navigation ul > li + li {
    margin-left: 40px;
}

.main-navigation a {
    display: inline-block;
    padding: 24px 0;
    color: #111;
    position: relative;
}

.main-navigation a:hover {
    color: #0980d7;
}

.header-image {
    height: 350px;
    width: 100%;
}

.header-image img {
    width: 100%;
    height: 100%;
}

.blog-area {
    display: block;
    padding: 60px 0;
    width: 90%;
    margin: 0 auto;
}

.blog-area .blog {
    margin-top: -120px;
    position: relative;
    width: 71%;
    float: left;
}

.blog-area .blog article {
    background: white;
    border: 1px solid lightgray;
}

.blog-area .blog article .thumbnail {
    width: 100%;
    max-height: 550px;
}

.blog-area .blog .blog-entry {
    width: 85%;
    background: white;
    margin: 0 auto;
    padding: 60px 0;
}

.blog-area .blog .blog-entry .title {
    font-size: 2em;
    font-weight: 900;
    margin: 0;
}

.blog-area .blog .blog-entry .blog-meta {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
}

.blog .blog-entry .blog-meta span {
    display: inline-block;
    font-family: Lato, Helvetica, sans-serif;
    font-size: .75em;
    line-height: 200%;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
}

.blog .blog-entry .blog-meta a {
    color: #0980d7;
    border-bottom: 1px solid #ddd;
    font-weight: 900;
}

.blog .blog-entry .blog-meta a:hover {
    border-bottom: 1px solid #0980d7;
}

.blog .blog-entry .blog-content {
    margin-top: 30px;
    padding-top: 1em;
}

.blog .blog-entry .blog-content p {
    line-height: 30px;
    margin-bottom: 1.5em;
}

.blog .blog-entry .blog-content .more {
    display: inline-block;
    padding: 15px 18px;
    border: 2px solid #111;
    font-family: Lato, Helvetica, sans-serif;
    font-size: .8rem;
    line-height: 1;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #111;
    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
}

.blog .blog-entry .blog-content .more:hover {
    background-color: #0980d7;
    color: #fff;
    text-decoration: none;
    border-color: #fff;
}

span.divider.divider.divider.divider {
    padding: 0 9px;
    color: rgba(128, 128, 128, 0.63)
}

.blog-area .right-panel {
    width: 24%;
}

.blog-area .right-panel .search-form {
    width: 100%;
}

.blog-area .right-panel .search-form .search-box {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 20px 60px 20px 20px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 0;
    font-family: Lato, Helvetica, sans-serif;
    font-size: .9rem;
    color: #111;
    background: url(/images/search-icon.png) no-repeat scroll;
    background-position: 96%;
    background-color: white;
    background-size: 18px;
}

.search-box:focus {
    outline: 0;
}

.blog-area .right-panel .tags {
    margin: 1.5em 0;
    padding: 1em 0;
}

.blog-area .right-panel .tags .title {
    margin-bottom: .5em;
}

.blog-area .right-panel .tags .title span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    /*color: #0980d7;*/
    border-bottom: 2px solid #0980d7;
    padding-bottom: 3px;
    letter-spacing: 1px;
}

.blog-area .right-panel .tags .name {
    list-style-type: none;
    margin: 12px 0;
}

.blog-area .right-panel .tags .name li {
    display: inline-block;
    font-size: 14px;
    margin: 5px 5px 5px 0;
    color: white;
    background: #0980d7;
    cursor: pointer;
    letter-spacing: 1px;
}

.blog-area .right-panel .tags .name li a {
    color: white;
    display: block;
    padding: 5px 10px;

}

.blog-area .right-panel .tags .name li a:hover, .blog-area .blog .social .comment:hover {
    background: #444;
}

.blog-area .blog .related-blog, .blog-area .blog .comment-area {
    margin-top: 3em;
}

.blog-area .blog .related-blog h2, .blog-area .blog .comment-area h2 {
    color: #cccccc;
    text-align: center;
    font-size: 28px;
    margin: 3px 0;
}

.blog-area .blog .related-blog .related-blog-wrapper {
    padding: 5px 15px;
    margin-top: 1.2em;
    background: #fff;
    border: 1px solid #cccccc;
}

.blog-area .blog .related-blog .related-blog-wrapper ul {
    text-align: center;
    margin: 0;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li {
    display: inline-block;
    width: 45%;
    background: #fafafa;
    overflow: hidden;
    height: 324px;
    margin: 15px 15px;
    position: relative;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li h1 {
    font-size: 18px;
    line-height: 67px;
    color: white;
    background: #0980d7;
    text-align: center;
    margin: 0;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li .title {
    text-align: center;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li .content {
    padding: 0 15px;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li .content h3 {
    font-size: 15px;
    color: #444;
    text-align: center;
    line-height: 20px;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li .content p {
    font-size: 14px;
    font-weight: normal;
    color: #444444;
    line-height: 24px;
    overflow: hidden;
    max-height: 143px;
    text-align: justify;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li .content .bottom {
    text-align: left;
    padding: 5px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.44);
}

.blog-area .blog .related-blog .related-blog-wrapper ul li .bottom {
    position: absolute;
    bottom: 0;
    display: block;
    padding: 5px 15px;
    width: 100%;
    text-align: left;
    border-top: 1px solid #cccccc;
    height: 37px;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li .bottom span {
    font-size: 12px;
    font-weight: 500;
    color: #666;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li .bottom a {
    font-size: 13px;
    float: right;
    padding: 3px 0;
    color: #0980d7;;
    /*background: #f8f8f8;*/
    /*border: 1px solid #ccc;*/
    margin-top: 1px;
}

.blog-area .blog .related-blog .related-blog-wrapper ul li .bottom a:hover {
    color: #444;
}

.blog-area .blog .related-blog .related-blog-wrapper .more-blog {
    text-align: center;
    padding: .5em 0 1em 0;
    margin-top: .6em;
}

.blog-area .blog .related-blog .related-blog-wrapper .more-blog a {
    padding: .8em 2em;
    background: #0980d7;
    color: white;
}

.blog-area .blog .related-blog .related-blog-wrapper .more-blog a:hover {
    background: #777;
}

.blog-area .blog .social {
    margin: 1em 0;
    background: white;
    border: 1px solid #cccccc;
}

.blog-area .blog .social .social-wrapper {
    padding: 1em 1em;
    font-size: 16px;
}

.blog-area .blog .social .share {

}

.blog-area .blog .social .share a {
    padding: 5px .5em;
    font-size: 16px;
    margin-right: 1em;
}

.blog-area .blog .social .share a.facebook {
    background: #4267b2;
    color: white;
}

.blog-area .blog .social .share a.twitter {
    background: #1b95e0;
    color: white;
}

a.facebook:hover, a.twitter:hover {
    opacity: .8;
}

.blog-area .blog .social .comment {
    float: right;
    padding: 5px 25px;
    background: #0980d7;
    color: white;
}

.blog-area .blog .comment-area .comment-wrapper {
    padding: 5px 30px;
    margin-top: 1.2em;
    background: #fff;
    border: 1px solid #cccccc;
}

.comment-area .comment-wrapper .comments {

}

.comment-area .comment-wrapper .comments .comment-row img {
    width: 59px;
    margin-right: 1.3em;
    border: 1px solid #cccccc;
    border-radius: 50%;
    padding: 5px;
    margin-top: 5px;
}

.comment-area .comment-wrapper .comments .comment-row .display-comment {
    display: inline-block;
    width: 85%;
    vertical-align: top;
    margin-bottom: 1.5em;
}

.comment-area .comment-wrapper .comments .comment-row .display-comment .user-name {
    font-size: 15px;
    font-weight: 600;
}

.comment-area .comment-wrapper .comments .comment-row .display-comment .date {
    font-size: 12px;
    color: gray;
    padding: 0 6px;
}

.comment-area .comment-wrapper .comments .comment-row .display-comment .text {
    padding: 0;
    margin: 4px 0 9px 0;
    font-size: 16px;
    line-height: 1.4em;
    color: #444444;
}

.comments .comment-row .display-comment .btn-group a{
    padding: 5px 10px;
    background: #0980d7;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.comments .comment-row .display-comment .btn-group a:hover{
   background: #777;
}

.comment-area .comment-wrapper .comments .comment-row .reply {
    padding-left: 40px;
    margin-top: 5px;
}


