* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

span {
    display: inline-block;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.clearfix {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    padding: 82px 150px 0 150px;
    background: rgba(128, 128, 128, 0.04);
    width: 100%;
    min-height: 100%;
    height: 100%;

}

.header {
    height: 60px;
    background: #7aafce;
    position: fixed;
    width: 100%;
}

.header .menu {
    display: inline-block;
    padding: 0;
    line-height: 28px;
    color: white;
    padding-left: 150px
}

.header .menu li {
    display: inline-block;
    color: white;
    min-width: 110px;
    font-size: 18px;
}

.header .menu li a {
    display: block;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.header .menu li a:hover {
    color: rgba(253, 253, 253, 0.84);
}

.header .signup {
    display: inline-block;
    width: 150px;
    float: right;
    height: 60px;
    padding-top: 13px;
}

.header .signup a {
    border: 1px solid lightgray;
    padding: 5px 27px;
    background: #f7f7f7;
    border-radius: 5px;
    outline: 0;
    color: #3c87b3;
    font-size: 14px;
}

.categories {
    margin-bottom: 45px;
}

.container .categories .menu {
    float: left;
    display: inline-block;
    margin: 0;
}

.container .categories .menu li {
    display: inline-block;
    margin-right: 40px;
    font-weight: 500;
    color: rgb(58, 55, 55);
    font-size: 16px;
}

.container .categories .menu li a {
    color: rgb(58, 55, 55);
    text-transform: uppercase;
}

.container .categories .menu li a:hover {
    color: rgb(158, 148, 148);
}

.container .categories .search {
    float: right;
    margin-top: -5px;
}

.container .categories .search .search-box {
    padding: 5px 1px;
    width: 224px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.48);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: url(/images/search-icon.png) no-repeat scroll;
    background-position: right;
    background-size: 15px;
}

.container .categories .search .search-box:focus {
    outline: none;
}

.grid ul {
    margin: 0;

}

.grid ul li {
    display: inline-block;
    width: 455px;
    padding: 22px 15px 0 10px;
    margin: 0 5px 11px 3px;
    height: 232px;
    border-bottom: 3px solid lightgray;
    background: white;
}

.grid ul li .top span {
    display: inline-block;
}

.grid ul li .top .detail {
    color: gray;
    font-size: 12px;
    margin-left: 15px;
    display: inline-block;
}

.grid ul li .top .user-icon {
    width: 32px;
    vertical-align: bottom;
}

.grid ul li .top .detail .time-ago {
    margin-left: 15px;
}

.grid ul li .top .detail .user-name {
    display: block;
    margin-bottom: 4px;
}

.grid ul li h1 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    height: 22px;
    overflow: hidden;
}

.grid ul li p {
    color: #595958;
    padding-bottom: 22px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    text-align: justify;
    margin: 0 0 10px 0;
    line-height: 23px;
    height: 75px;
    overflow: hidden;
    font-size: 13px;
}

.grid ul li .footer span, .grid ul li .footer a {
    font-size: 13px;
}

.grid ul li .footer span {
    color: gray;
}

a {
    color: #7aafce;
}

a:hover {
    color: #608fab;
}

.shadow-effect {
    position: relative;
}

.shadow-effect:before, .shadow-effect:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 39px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.shadow-effect:after {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}

.blog-form {
    padding: 5px 0;
    background: white;
    border-radius: 15px;
    width: 90%;
    margin: auto;
}

.blog-form .row {
    padding: 27px 20px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.45);
}

label {
    display: inline-block;
    font-weight: 600;
    padding: 9px 0;
}

.blog-form .row label {
    width: 15%;
}

.textbox, select {
    border: 1px solid lightgray;
    padding: 6px 2px;
    background: white;
}

.blog-form .row .textbox, .blog-form .row select {
    width: 70%;
}

.textbox:focus, select:focus {
    outline: none;
}

.btn {
    border: none;
    padding: 10px 20px;
    background: #4d7e9a;
    color: white;
    font-size: 15px;
}

.btn:hover {
    background: #426c84;
}

.categories .list {
    margin-top: 15px;
}

.categories .list .row.heading {
    font-weight: 700;
}

.categories .list .row {
    padding: 18px 15px;
    border-bottom: 1px solid lightgray;
}

.categories .list .row:nth-child(odd) {
    background: #dae8f1;
}

.categories .list .row:nth-child(even) {
    background: #f5f5f5;
}

.categories .list .row span, .categories .list .row a {
    min-width: 15%;
}

.categories .list .row .name {
    width: 50%;
    overflow: hidden;
}

.container .blog-detail {
}

.container .blog-detail .title {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.66);
    overflow: hidden;
}

.container .blog-detail .publish-detail {
    color: #444;
    font-size: 16px;
    font-weight: 100;
    margin-top: 48px;
}

.container .blog-detail .user-detail {
    margin-top: 58px;
    padding-left: 10px;
    border-left: 1px solid #66a7ce;
    color: rgba(0, 0, 0, 0.66);
}

.blog-detail .blog-content {
    margin-top: 80px;
    color: rgba(0, 0, 0, 0.81);
    font-size: 100%;
}

.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4 {
    color: #444;
    margin: 40px 0 15px 0
}

.blog-content h1 {
    font-size: 32px;
}

.blog-content h2 {
    font-size: 28px;
}

.blog-content h3 {
    font-size: 24px;
}

.blog-content h4 {
    font-size: 20px;
}

.blog-content p {
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

.blog-content img {
    max-width: 100%;
    height: auto;
}