<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/styleSheet.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>

    <style>
        body {
            background: #ffffff;
        }
    </style>
    <title>
        About Us
    </title>
</head>
<body>
<div class="text-container">
    <div th:replace="/layout/main::brand">

    </div>
    <div class="heading">
        <h1 class="heading-wrapper">
            About Us
                <span class="breadcrumb">
                    <a href="/" target="_self">Home</a>
                    <span class="divider">/</span>
                    <a href="">About</a>

                </span>
        </h1>

    </div>
    <div class="text-wrapper">
        <h2>- Our Mission -</h2>

        <p>To provide best article that will give you easy starter.</p>

        <h2>- About -</h2>

        <p>
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it look like readable English. Many
            desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
            search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved
            over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


        </p>

    </div>
    <div th:replace="/layout/main::footer">

    </div>
</div>

</body>
</html>