<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="description" content="Aim of this community that provide best programming languages articles. That will give you easy starter for build something."/>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/styleSheet.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>

    <style>
        body {
            background: #ffffff;
        }
    </style>
    <title>
        About Us | JustBeginMe.com
    </title>
</head>
<body>
<div class="text-container">
    <div th:replace="/layout/main::brand">

    </div>
    <div class="heading">
        <h1 class="heading-wrapper">
            About Us
                <span class="breadcrumb">
                    <a href="/" target="_self">Home</a>
                    <span class="divider">/</span>
                    <a href="">About</a>

                </span>
        </h1>

    </div>
    <div class="text-wrapper">
        <h2>- Our Mission -</h2>

        <p>To provide best article that will give you easy starter.</p>

        <h2>- About -</h2>

        <p>
            Aim of this community that provide best articles. That will give you easy starter for build something.
            <br/>We are constantly focusing on quality of our articles.
            <br/>
            Let us know how we can improve quality and features on our website which will improve your experience.
            <br/>
            <b>@here: &nbsp;</b><a href="/contact.html" target="_self">www.justbeginme.com/contact.html</a>

        </p>

        <h2>- Contributors -</h2>
        <ul th:inline="text" class="contributors">
            <li th:each="user:${users}">
                <a th:href="@{/blogs.html(author=${user.email})}">[[${user.fullName}]]</a>
            </li>
        </ul>
    </div>
    <div th:replace="/layout/main::footer">

    </div>
</div>

</body>
</html>